*{
    margin: 0%;
    padding: 0%;
}


.navbar{
    display: flex;
    width: 100%;
    max-height: fit-content;
    position: sticky;
    justify-content: center;
    align-items: center;
    top:0;
    cursor: pointer;
    

    
    
    
}



.nav_list{
    width: 50%;
    /* background-color:antiquewhite; */
    display: flex;
    align-items: center;
    padding: 0%;
    

}


.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 50%;
}

.nav_list li{
    list-style: none;
    padding: 4%;

}


.nav_list li a{
    text-decoration: none;
    color: white;
    font-size: large;
    transition-delay: 0.4ms;
    
}


.nav_list li a:hover{
    color: rgba(141, 97, 235, 0.853);
}
.rightNav{
    width: 50%;
    text-align: right;
    /* background-color: antiquewhite; */
    padding-top: 0.5%;
    padding-right: 2%;
    color: rgb(0, 0, 0);

}




/* 
#search{
    padding: 5px;
    font-size: large;
    border: 3px solid black;
    border-radius: 10px;
} */

.button {
    background-color:black; 
    border: none;
    color: white;
    padding: 17px 33px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 3px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid white;
    
    
  }

  .button1 {
    background-color:rgba(12, 12, 12, 0.759); 
    color: white; 
    border: 2px solid white;
    background: none;
    
    
    
  }
  
  .button1:hover {
    background-color: rgb(101, 43, 226);
    color: white;
  }
  

.background{
    background:  rgba(0, 0, 0, 0.0 ) url(../images/headimg7.jpg)  ;
    
    background-size: cover;
    background-blend-mode: darken ;
    
}

.box-main {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
    
}
.firstsection{
    height: 100vh;
    
}

.firsthalf p {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    
    
    
}
.text-big{
    font-size: 65px;

}
.text-small{
    font-size: 20px;
}

.btn{
    padding:6px 18px;
    margin:7px;
    border: 2px solid white;
    border-radius: 8px;
    background:none;
    color:white;
    transition-duration: 0.4s;
    
    

}
.buttons{
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 1vh;
    
    
}
.btn:hover{
    background-color: rgb(101, 43, 226);
    
}
.inp {
    display:flex;
    justify-content: center;
    padding-top: 2%;
    
}
.inp input{
    margin: 2%;
    border-radius: 3px;
    height: 20px;
}

.secright{
    background-color:white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    
}
.secright p{
    align-items: center;
    justify-content: center;
    display: flex;
    height:50px
    
    
}
.light{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color:darkred;

}
.boxes{
    padding: 30px;
    
}
.box{
    border: 2px solid white;
    box-shadow: 3px 3px rgb(177 177 177);
    height: 125px;
    width: 25%;
    display: inline-block;
    margin: 10px 30px 0px 30px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.photo1{
    height: 125px;
    width: 30%;
    background-color: black;
    margin: 2px;
    float: left;
    background-image: url(../images/headimg8.jpg);
    background-size: cover;
}
.photo2{
    height: 125px;
    width: 30%;
    background-color: black;
    margin: 2px;
    float: left;
    background-image: url(../images/headimg9.jpg);
    background-size: cover;
}
.photo3{
    height: 125px;
    width: 30%;
    background-color: black;
    margin: 2px;
    float: left;
    background-image: url(../images/headimg10.jpg);
    background-size: cover;
}
.photo4{
    height: 125px;
    width: 30%;
    background-color: black;
    margin: 2px;
    float: left;
    background-image: url(../images/headimg11.jpg);
    background-size: cover;
    
}

